<!-- <main>
  <img id="ramas-arriba" src="assets/img/ramas_arriba_2.webp" />
  <p>Maria Benavides, queremos compartir contigo la alegría de nuestro día.</p>
  <img id="ramas-abajo" src="assets/img/ramas_abajo_2.webp" />
  <img id="calendario" src="assets/img/calendario.webp" />
</main>
 -->
 <app-layout nameImg1="ramas_arriba_2.webp" nameImg2="ramas_abajo_2.webp" crop1="crop">
  <p>Maria Benavides, queremos compartir contigo la alegría de nuestro día.</p>
  <img id="calendario" src="assets/img/calendario.webp" />
 </app-layout>