main {
  height: 100vh;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(56, 56, 56, 1) 35%,
    rgba(159, 57, 0, 1) 100%
  );
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: auto;
}
