<!-- <main>
  <app-logo></app-logo>
  <app-espaciador class="espaciador one"></app-espaciador>
  <app-foto-versiculo></app-foto-versiculo>
  <app-espaciador class="espaciador two"></app-espaciador>
  <app-nombre-fecha></app-nombre-fecha>
  <app-espaciador class="espaciador three"></app-espaciador>
  <app-consejos></app-consejos>
</main>
 -->
 <main>
 <!--  <app-layout nameImg1="ramas_arriba_1.webp" nameImg2="ramas_abajo_1.webp">
    Holas
   </app-layout> -->
   <app-logo></app-logo>
  <app-espaciador></app-espaciador>
  <app-foto-versiculo></app-foto-versiculo>
  <app-espaciador></app-espaciador>
  <app-nombre-fecha></app-nombre-fecha>
  <!-- <app-layout>
    Chaos
   </app-layout> -->
   <app-espaciador></app-espaciador>
   <app-consejos></app-consejos>
   <!-- <app-espaciador></app-espaciador> -->
 </main>
