<app-layout nameImg1="ramas_arriba_3.webp" nameImg2="ramas_abajo_3.webp">
    <main>
        <!--  <div class="cont-title">
            <p class="green">Tambien nos place invitarte a</p>
            <p class="black">La Recepción De Nuestra Boda</p>
        </div>
        <app-button-location time="7" location="https://www.google.com/maps/place/El+Portal+De+La+Cintana/@11.1782831,-74.1495204,17z/data=!3m1!4b1!4m9!3m8!1s0x8ef4f6a273aa8b21:0xaff92fa5ed749f03!5m2!4m1!1i2!8m2!3d11.1782778!4d-74.1469455!16s%2Fg%2F11ggrlv42p?entry=ttu"></app-button-location>
        <div class="cont-asistencia">
            <p class="green">Confirma Tu Asistencia Aquí:</p>
            <button (click)="confirmarAsistencia()">¡Allí Estaré!</button>
        </div> -->
        <div class="cont-title">
            <p class="green">También nos place invitarte a</p>
            <p class="black">La Recepción De Nuestra Boda</p>
        </div>

        <app-button-location time="7" locationName="El Portal De La Cintana"
            location="https://www.google.com/maps/place/El+Portal+De+La+Cintana/@11.1782831,-74.1495204,17z/data=!3m1!4b1!4m9!3m8!1s0x8ef4f6a273aa8b21:0xaff92fa5ed749f03!5m2!4m1!1i2!8m2!3d11.1782778!4d-74.1469455!16s%2Fg%2F11ggrlv42p?entry=ttu"></app-button-location>
        <div class="cont-message">
            <p class="green">
                "Bailaremos, reiremos y crearemos recuerdos inolvidables.<br>¡Esperamos verte allí!"
            </p>
        </div>

        <div class="cont-green">
            <p class="green">Confirma Tu Asistencia Aquí:</p>
            <button (click)="confirmarAsistencia()">¡Allí Estaré!</button>
        </div>
    </main>



</app-layout>