<main>
  <img id="ramas-arriba" src="assets/img/ramas_arriba_1.webp" />
  <div>
    <p class="green">Tenemos el gusto de invitarte a</p>
    <p class="black">Los Consejos Bíblicos</p>
  </div>
  <img id="hojitas" src="assets/img/hojitas_1.webp" />
  <div>
    <button>
      <span class="material-symbols-outlined"> pin_drop </span>
      Ubicación
    </button>
  </div>
  <div>
    <p class="mid">
      Esperamos verte en este día tan significativo y compartir nuestra
      felicidad contigo.
    </p>
  </div>
  <div id="cont-down">
    <p class="down">"El amor une nuestras vidas en un camino eterno”.</p>
  </div>
  <img id="ramas-abajo" src="assets/img/ramas_abajo_1.webp" />
</main>
