
<app-layout nameImg1="ramas_arriba_1.webp" nameImg2="ramas_abajo_1.webp" crop2="crop-88">
  <main>
    <div class="cont-title">
      <p class="green">Tenemos el gusto de invitarte a</p>
      <p class="black">Los Consejos Bíblicos</p>
    </div>
    <img id="hojitas" src="assets/img/hojitas_1.webp" />
    <app-button-location locationName="Salón del reino - Cisne" time="5" location="https://www.google.com/maps/place/Sal%C3%B3n+del+Reino+de+los+Testigos+de+Jehov%C3%A1/@11.2075818,-74.1632147,19z/data=!3m1!4b1!4m12!1m5!3m4!2zMTHCsDEyJzI3LjIiTiA3NMKwMDknNDUuNCJX!8m2!3d11.2075556!4d-74.1626111!3m5!1s0x8ef4f4362e7add0f:0xed06265fb8b4d861!8m2!3d11.2075805!4d-74.162571!16s%2Fg%2F1hc72tjz1?entry=ttu"></app-button-location>
    <div class="cont-message">
      <p class="green">
        Esperamos verte en este día tan significativo y compartir nuestra felicidad contigo.
      </p>
    </div>

    <div class="cont-green">
      <p class="white">"El amor une nuestras vidas en un camino eterno”.</p>
    </div>

  </main>
</app-layout>