main {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  padding-top: 15vh;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  text-align: center;
  z-index: 2;
  overflow: hidden;
}

.green {
  color: #536938;
}

.black {
  color: black;
}

.white {
  color: white;

}

.cont-title .green {
  width: 177px;
}


.cont-green {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 80vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #475b4f;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cont-green p {
  width: 181px;

}

.cont-message {
  margin: 2vh 0 5vh 0;
  width: 316px;
}

#hojitas {
  width: 30vw;
  height: 20vh;
  position: absolute;
  left: 0;
  top: 30vh;
}

@media (max-width: 375px) {

  .cont-message {
      margin: 1vh 0 2vh 0;
      width: 316px;
      font-size: 18px;
  }

  .cont-green {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      width: 80vw;
      height: 20vh;
      display: flex;
      font-size: 18px;
  }
}